<div class="main-container">
    <div *ngIf="film">
        <h2>Selected movie's details:</h2>
        <table id="movie-info">
            <tr>
                <td>Title:</td>
                <td>{{film.title}}</td>
            </tr>
            <tr>
                <td>Director:</td>
                <td>{{film.director}}</td>
            </tr>
            <tr>
                <td>Release date:</td>
                <td>{{film.release_date}}</td>
            </tr>
            <tr>
                <td>Episode ID:</td>
                <td>{{film.episode_id}}</td>
            </tr>
        </table>
    </div>
    <div>
        <br>
        <button (click)="toggleCharacters()">{{charactersButtonLabel}}</button>
        <button (click)="goBack()">Go back</button>
        <br><br>
        <div *ngIf="showCharsTable">
            <table id="characters-info">
                <tr *ngFor="let character of charactersTable; let i = index">
                    <td (click)="getCharacter(i)"
                        [class.clicked]="character.name">{{character.characterLink}}</td>
                    <td>
                        <div *ngIf="character.name !== null">{{character.name}}</div>
                    </td>
                    <td><a *ngIf="character.name" [state]="{data: character.characterLink}"
                           routerLink="/characters/details">details</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
