<div id="all-films-table">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let option of sortingOptions" class="hoverable"
          (click)="sortBy(option.property)">{{option.name}}</th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let film of allFilms; let i = index">
      <td>{{i + 1}}</td>
      <td>{{film.title}}</td>
      <td>{{film.director}}</td>
      <td>{{film.release_date}}</td>
      <td>{{film.episode_id}}</td>
      <td><a routerLink="details" [state]="{data: film.url}">details</a></td>
    </tr>
  </table>
  <br>
  <div>
    <label for="sorter">Sort by: </label>
    <select #sorter name="sorter" id="sorter" (change)="sortBy(sorter.value)">
      <option *ngFor="let option of sortingOptions" [value]="option.property"
              [selected]="selectedSorting == option.property">{{option.name}}</option>
    </select>
  </div>
</div>
