/* You can add global styles to this file, and also import other style files */
body {
  font-size: 1.25rem;
  background-color: #272B30;
  color: #C8C8C8;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #aca01c;
}

button {
  background-color: #32383E;
  border-color: #272B30;
  color: #FFE300;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  outline: none;
  margin-left: 10px;
}

button:not([disabled]):hover {
  background-color: #757272;
  cursor: pointer;
}

button[disabled] {
  color: #757272;
}
